@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.navMiddle {
  display: flex;
  background-color: white;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: "Fjalla One", sans-serif;
}

.navMiddle div a {
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 4px;
  color: black;
}

.navMiddle div a:hover {
  font-weight: bold;
  /* color: white; */
}

.buttonHeader {
  font-size: 20px;
  color: #222;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  /* position: relative; */
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.buttonHeader:focus,
.buttonHeader:hover {
  color: #222;
}

.buttonHeader:focus:after,
.buttonHeader:hover:after {
  width: 100%;
  left: 0%;
}

.buttonHeader:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  /* position: absolute; */
  width: 0%;
  height: 2px;
  background-color: #011140;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.linksHeader {
  display: flex;
  gap: 10px;
  justify-content: center;
}
